In [8]:
# print 0 to 20 by using range
for each_number in range(20):
    print(each_number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
# print range 10 to 20
#print(*range(10,20))
for each_number in range(10,20):
    print(each_number, end=' ')

10 11 12 13 14 15 16 17 18 19

In [30]:
# Print number of items in the list by using 'len'
List2=[10, 20, 14, 55, 43, 87, 76]
print(f"Number of item in the List2:\n{len(List2)}")

Number of item in the List2:
7

In [34]:
course="Artificial Intelligence"
print(course)
for each_alphabet in course:
    print(each_alphabet)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [38]:
my_list=["-Your Name-","-Your Age-","-Your Profession-"]
for item in my_list:
    print(item)

-Your Name-
-Your Age-
-Your Profession-

In [104]:
my_tuple=(1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [112]:
Tuple1=(0,1,2,3)
Tuple2=('python', 'HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [114]:
# print Odd Numbers in the list
my_tup=(20,10,16,19,25,1,276,188)
for each_number in my_tup:
    if each_number%2!=0:
        print(f"{each_number} is odd")

19 is odd
25 is odd
1 is odd

In [3]:
# print Even numbers in the list
my_tup=(20,10,16,19,25,1,276,188)
for each_number in my_tup:
    if each_number%2==0:
        print(f"{each_number} is even")

20 is even
10 is even
16 is even
276 is even
188 is even